@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: $night-bg4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $font-family;
  font-size: 12px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: $font-family;
}

#app {
  height: 100%;
}

.box {
  width: 100%;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 3px;
  box-sizing: border-box;
}
.box-top {
  border-top: 3px solid $--color-primary;
}
.box-bottom {
  margin-bottom: 0;
}

.fa {
  margin-right: 5px;
}

.night {
  color: $font-color-text;
  // box盒子
  .box {
    background-color: $night-bg3;
  }
  // input
  .el-input {
    background-color: $night-bg4;
    .el-input__inner {
      background-color: $night-bg4;
      color: $font-color-text;
    }
  }
  // form
  .el-form {
    .el-form-item {
        .el-form-item__label {
          color: $font-color-text;
        }
    }
  }
  //  table
  .el-table {
    background-color: $night-bg4;
    border: none;
    &::before, &::after {
      width: 0;
    }
    .el-table__fixed-right {
      &::before {
        width: 0;
      }
    }
    th {
      background-color: $table-head-bg;
      border-bottom: none;
      border-right-color: $table-head-bc;
      &:last-child {
        border-right: none;
      }
    }
    tr {
      background-color: $night-bg4;
      color: $font-color-text;
      &.hover-row>td, &.current-row>td {
        background-color: $table-tr-hover;
      }
    }
  }
}

.btn-dark {
  background-color: $night-bg1;
  border-color: $night-bg1;
  &:hover {
    background-color: $night-bg0;
    border-color: $night-bg0;
  }
}
.btn-search {
  height: 24px;
  line-height: 2px;
  i {
    line-height: 2px;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px
}
/*定义滚动条轨道*/
::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background-color: #c0c4cc;
  // background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2px;
}
// 调整elementui中弹出框中确定和取消按钮的位置
.btn-custom-cancel {
  float: right;
  margin-left: 10px;
}
