@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: $night-bg4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 12px;
}

#app {
  height: 100%;
}

// 非弹窗页面第一个标签添加此class
.night {
  color: $font-color-text;
  height: 100%;
  // box盒子
  .box {
    background-color: $night-bg3;
  }
  // input
  .el-input {
    background-color: $night-bg4;
    .el-input__inner {
      background-color: $night-bg4;
      color: $font-color-text;
      border: none;
    }
    input::-webkit-input-placeholder {
      color: $font-color-placeholder;
    }
  }
  // textarea
  .el-textarea {
    .el-textarea__inner {
      color: $font-color-text;
      background-color: $night-bg4;
      border: none;
    }
    textarea::-webkit-input-placeholder {
      color: $font-color-placeholder;
    }
  }
  // checkbox
  .el-checkbox {
    color: $font-color-text;
    .el-checkbox__input {
      .el-checkbox__inner {
        border: none;
        background-color: $night-bg4;
        &::after {
          top: 2px;
          left: 5px;
        }
      }
    }
    .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: $--color-primary;
      }
    }
  }
  // radio
  .el-radio {
    color: $font-color-text;
    .el-radio__input {
      .el-radio__inner {
        border: none;
        background-color: $night-bg4;
      }
    }
    .el-radio__input.is-checked {
      .el-radio__inner {
        background-color: $--color-primary;
      }
    }
  }
  // switch
  .el-switch {
    .el-switch__core {
      background-color: $night-bg4;
      border: none;
      &::after {
        top: 2px;
      }
    }
    &.is-checked {
      .el-switch__core {
        background-color: $--color-primary;
      }
    }
  }
  // date-editor
  .el-date-editor {
    border: none;
    color: $font-color-text;
    background-color: $night-bg4;
    .el-range-input {
      color: $font-color-text;
      background-color: $night-bg4;
    }
    .el-range-separator {
      color: $font-color-placeholder;
    }
  }
  // form
  .el-form {
    .el-form-item {
        .el-form-item__label {
          color: $font-color-text;
        }
    }
  }
  //  table
  .el-table {
    background-color: $night-bg4;
    border: none;
    &::before, &::after {
      width: 0;
    }
    .el-table__fixed-right {
      &::before {
        width: 0;
      }
    }
    th {
      background-color: $table-head-bg;
      border-bottom: none;
      border-right-color: $table-head-bc;
      &:last-child {
        border-right: none;
      }
    }
    tr {
      background-color: $night-bg4;
      color: $font-color-text;
      &.hover-row>td, &.current-row>td {
        background-color: $table-tr-hover;
      }
      &:hover {
        background-color: $table-tr-hover !important;
      }
    }
    .el-button--text {
      color: $table-button-color;
    }
  }
  // tabs
  .el-tabs {
    .el-tabs__nav-wrap::after {
      background-color: #ffffff33;
    }
    .el-tabs__item {
      color: $font-color-text;
    }
  }
}

.box {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  box-sizing: border-box;
  &+& {
    margin-top: 4px;
  }
  &.top {
    border-top: 3px solid $--color-primary;
  }
  &.bottom {
    height: calc(100% - 105px);
  }
  .el-form-item {
    margin-bottom: 0;
  }
}
.fa, .iconfont {
  margin-right: 4px;
}
// 有tabMenu时在页面第一个标签添加此class
.isTabsMenu {
  height: calc(100% - 50px);
}
// 黑色按钮
.btn-dark {
  background-color: $night-bg1 !important;
  border-color: $night-bg1 !important;
  &:active {
    opacity: .8;
  }
  &+& {
    margin-left: 4px;
  }
  &.group-left {
    border-radius: 4px 0 0 4px;
  }
  &.group-center {
    border-radius: 0;
  }
  &.group-right {
    border-radius: 0 4px 4px 0;
  }
}
// 搜索按钮
.btn-search {
  height: 23px;
  line-height: 2px;
  i {
    line-height: 2px;
  }
}
// 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
// 定义滚动条轨道
::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em
}
// 定义滑块 内阴影+圆角
::-webkit-scrollbar-thumb {
  background-color: #8799adaa;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2px;
}
