.box-position {
  position: relative;
  padding-top: 38px;
  min-height: 100%;
  background-color: $white;
  border-radius: 2px;
  font-size: 14px;
  box-sizing: border-box;

  .box-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    padding: 10px;

    span.box-title {
      position: relative;
      display: inline-block;
      padding-left: 14px;
      font-weight: bold;
      color: #101010;
      font-size: 16px;

      &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 14px;
        left: 0;
        top: 1px;
        background-color: $--color-primary;
      }
    }
  }

  .box-body {
    padding: 10px;
    height: 100%;
  }

  .tbLine{
    padding-bottom: 11px !important;
    padding-top: 11px !important;
    border-bottom: 1px solid #E3E3E5;
    border-top:1px solid #E3E3E5;
  }
}

.collapse-btn{
  .icon{
    transition: transform 0.5s;
  }
  .down{
    transform: rotate(0deg);
  }
  .up{
    transform: rotate(180deg);
  }
}
